<mat-toolbar color="primary">
  <h1>Local Weather</h1>
</mat-toolbar>

<div fxLayoutAlign="center">
  <div class="mat-caption">
      Your City, your forecast, right now!
  </div>
</div>

<div fxLayout="row">
  <div fxFlex></div>
  <mat-card fxFlex="300px">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Current Weather</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-current-weather></app-current-weather>
    </mat-card-content>
  </mat-card>
  <div fxFlex></div>
</div>